body {
  font-family: sans-serif;
  background: teal
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.organization-logo {
  height: 2em;
  border-radius: 10%;
}
